[Desktop Entry]
Name=Wolfenstein 3D
Comment=Wolfenstein 3D
Exec=ecwolf --data WL6
Terminal=false
Type=Application
StartupNotify=true
Icon=ecwolf
Categories=games;
